@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    font-size: 1.1rem;  
    font-family: 'Poppins', sans-serif;
    background-color: #c9ccbe;
}

.navbar {
    padding: 10px;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
    border: .1em solid black;
    border-radius: .3em;
    background-color: #33e0da;
    padding: .2em;
    cursor: pointer;
}

.logo a {
    text-decoration: none;
    color: #000;
}

.logo a:hover {
    text-decoration: none;
    color: #000;
}

.logo:hover {
    background-color: #56e3de;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
    color: #000;
    
}

h2{
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Playfair Display', serif;
    margin: 0;
    margin-bottom: .5em;
}

p .subheading {
    font-size: 1.4rem;
}

.container {
    max-width: 370px;
    margin: 0 auto;
    padding: .8em;
    box-shadow: .9em .8em .5em #2e4057;
    border-radius: 1.0em;
    background-color: #33e0da;
    margin-top: 7em;
}


